@font-face {
    font-family: "Franquito400";
    src: url(/PlayFairDisplay/PlayfairDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Franquito500";
    src: url(/PlayFairDisplay/PlayfairDisplay-Medium.ttf) format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Franquito600";
    src: url(/Pla7FairDisplay/PlayfairDisplay-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Franquito700";
    src: url(/PlayFairDisplay/PlayfairDisplay-Bold.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Franquito800";
    src: url(/PlayFairDisplay/PlayfairDisplay-ExtraBold.ttf) format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Franquito900";
    src: url(/PlayFairDisplay/PlayfairDisplay-Black.ttf) format("truetype");
    font-weight: 900;
}