
p {
    font-family: Franquito;
    font-weight: 600;
}
.segundoApartado {
    font-family: Franquito;
    font-weight: 800;
}
.indice{
    background-color: black;
    color: white;
}
.letrasIndex{
    color: yellow;
}
.letrasIndex2{
    color: blue;
}
.palabrasIndice{
    background-color:aqua;
    color: darkgoldenrod;
}
h1{
    font-family: Franquito;
    font-weight: 900;
}
h2{
    font-family: Franquito;
    font-weight: 700;
}