
body{ margin: 0;}
p {
    font-family: Franquito;
    font-weight: 400;
}
.indice{
    background-color: black;
    color: white;
}
.letrasIndex{
    color: yellow;
}
.letrasIndex2{
    color: blue;
}
.palabrasIndice{
    background-color:aqua;
    color: darkgoldenrod;
}
.DivDelIndice{
    background-color: black;
    width: 800px;
    height: 200px;
}
.divGenerico1{
    background-color: red;
}
.divGenericoForm{
    background-color: aqua;
    padding: 20px 10px 5px 30px;
}
.divGenericoForm2{
    background-color: chartreuse;
    padding: 15px;
    width: 400px;
    height: 150px;
    align-items: center;
}
.input1{
    padding: 8px;
    width: 50%;
    margin: 3px; 
}
.boton{
    width: 25%;
    height: 35px;
    margin: 8px 45px;
    border-width: 3%;
    border-color: black;
    border-style: solid;
    border-radius: 15px 65px;
}
.input2{
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-top:  1px solid white;
    border-left:1px solid white;
    background: transparent;
    color: greenyellow;
    border-radius: 12px;
}
.div2Email{
    background-color: black;
    width: 300px;
    height: auto;
}
.boton2{
    color: black;
    background-color: whitesmoke;
    border-width: 2%;
    border-color: goldenrod;
    border-style: solid;
    border-radius: 8px 50px;
}
.box{
    color: black;
    background-color: rgb(255, 95, 150);
    width: 100px;
    height: 100px;
    margin: 5px;
}
.Cauno{
    padding: 25px;
    border: 5px solid black;
    border-radius: 25px ;
}
.Ca2{
    box-sizing: border-box;
    padding: 25px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px ;
}